<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AROMA Coffee & Tea Events</title>
    <meta name="description" content="Page Description Goes Here">
  </head>


  <body>
       <!-- The page content goes here -->
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->

      <section class="parallax2">
        <nav>
            <a href="index.html">HOME</a>
            <a href="menu.html">MENU</a>
            <a href="events.html">EVENTS</a>
          </nav>
        <div class="container">
          <img src="aroma.svg" />
        </div>
      </section>

      <main>
      <h1>Special Events: Tastings and More</h1>

      <p>Like wine, there are so many varieties of coffee that tasting them all can be somewhat overwhelming.
        Guided Tastings allow you to experience the flavor characteristics of a particular coffee and compare it to another coffee from the same or different growing region or processing method.</p>

      <p>Every Saturday we invite you to AROMA to experience a guided tasting of our special featured coffees and teas.
        And during each tasting event, you will receive 15% off on all coffees, teas and equipment featured.</p>

      </main>
        <br/>


      <div class="holiday">
        <img class="circle" src="coffee.png">
          <h1>holidays</h1>
          <p>Here's some info, yo.</p>
            <ul>
              <li>2/14: Valentine’s Day Coffee & Chocolate Pairing</li>
              <li>3/17: St. Patrick's Day: Learn to Make Irish Coffee</li>
            </ul>
      </div>

      <div class="study">
        <img class="circle" src="coffee.png">
          <h1>study</h1>
          <p>Here's some info, yo.</p>
            <ul>
              <li>12/8-12/12: 24/7 Study</li>
              <li>3/30: Midterm Treats</li>
            </ul>
      </div>

      <div class="tastings">
        <img class="circle" src="coffee.png">
          <h1>tastings</h1>
          <p>Here's some info, yo.</p>
            <ul>
              <li>1/31: African Coffees</li>
              <li>2/7: AROMA Signature Tea Blends</li>
            </ul>
      </div>


    <footer>

      <section class="locations">
      <h1>Locations</h1>
        <h2>KENT</h2>
          <address>6110 Horning Rd., Kent, OH 44240 </address>
            <dl><dt>Phone:</dt> <dd>(330) 672-3031</dd> </dl>

        <h2>COLUMBUS</h2>
          <address>5883 High St. Columbus, OH 43085</address>
            <dl><dt>Phone:</dt> <dd>(330) 854-8583</dd></dl>
      </section>

      <section class="hours">
      <h1>Hours</h1> (same for both locations)
        <ul>
          <li>6:00AM - 10:30PM Monday - Friday</li>
          <li>7:00AM - 3:00PM on Saturday</li>
          <li>7:30AM - 3:00PM on Sunday</li>
        </ul>
      </section>
    </footer>

</body>

</html>
