<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AROMA Coffee & Tea Home</title>
    <meta name="description" content="Page Description Goes Here">
  </head>

  <body>
       <!-- The page content goes here -->

<!--<img src="aroma.svg"> -->


      <section class="parallax1">
        <nav role="navigation">
            <a href="index.html">HOME</a>
            <a href="menu.html">MENU</a>
            <a href="events.html">EVENTS</a>
          </nav>
        <div class="container">
        <header role="banner">  
          <img src="aroma.svg" alt="AROMA Coffee + Tea"/>
        </header>
        </div>
      </section>

<main role="main">
  <h1>Who We Are</h1>
  <p>AROMA Coffee & Tea is proud to be locally owned and operated serving award-winning, fresh, quality-focused specialty coffee and tea.
  We offer indoor & outdoor seating, as well as a drive thru window for your convenience. We also provide free Wifi inside.
  With over ten years of experience in the industry, we source, roast, blend and serve the best coffee in Ohio. We value the importance of fairness and quality at each step of the process from seed to cup.</p>
</main>

<aside role="complementary">
  <ul>
    <li> 2014 USA Today 10 Best Coffeehouses in America </li>
    <li> 2014 & 2015 America's Best Coffeehouse Competition Semi-Finalist </li>
    <li> 2013 - 2015 America's Best Espresso Semi-Finalist </li>
    <li> 2013 America's Best Coffeehouse Competition 3rd Place </li>
    <li> 2010 About Magazine Best Coffeeshop </li>
    <li> 90+ Scores on Ken Davids Coffee Review (highest score in Ohio) </li>
    <li> Highest scores in Ohio on SCAA Regional Barista Competitions; SCAA Member since 2003 </li>
    <li> Recipient of Golden Cup Award </li>
  </ul>
</aside>


<footer role="contentinfo">

  <section class="locations">
  <h1>Locations</h1>
    <h2>KENT</h2>
      <address>6110 Horning Rd., Kent, OH 44240 </address>
        <dl><dt>Phone:</dt> <dd>(330) 672-3031</dd> </dl>

    <h2>COLUMBUS</h2>
      <address>5883 High St. Columbus, OH 43085</address>
        <dl><dt>Phone:</dt> <dd>(330) 854-8583</dd></dl>
  </section>

  <section class="hours">
  <h1>Hours</h1> (same for both locations)
    <ul>
      <li>6:00AM - 10:30PM Monday - Friday</li>
      <li>7:00AM - 3:00PM on Saturday</li>
      <li>7:30AM - 3:00PM on Sunday</li>
    </ul>
  </section>

</footer>

<link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>



</html>
