<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AROMA Coffee & Tea Menu</title>
    <meta name="description" content="Page Description Goes Here">
  </head>


  <body>
       <!-- The page content goes here -->
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->

      <section class="parallax3">
        <nav>
            <a href="index.html">HOME</a>
            <a href="menu.html">MENU</a>
            <a href="events.html">EVENTS</a>
          </nav>
        <div class="container">
          <img src="aroma.svg" />
        </div>
      </section>

  <main>
    <h2>Menu</h2>

    <p>We proudly serve the rarest coffee & espresso beans, single in origin & roasted right here in Kent. Our house blend is a Sumatra dark blend. Flavored Coffees include : Highlander Grogg, Hawaiian Hazelnut, & other seasonal flavors.</p>
  </main>



  <section class="coffee">

  <h2> Coffee & Tea </h2>

  <table width="300" cellpadding="0px" cellspacing="10px">

      <table>
   <tr>
      <td>Hot Coffee</td>
      <td>2.00 2.15 2.25</td>
   </tr>

   <tr>
      <td>Pour Over</td>
      <td>2.50 3.00 3.25</td>
   </tr>

   <tr>
      <td>Iced Coffee:</td>
      <td>2.25 2.50 2.85</td>
   </tr>

   <tr>
      <td>By the Bean</td>
      <td>10.25 half/ 17.95 full</td>
   </tr>

   <tr>
      <td>Coffee Smoothies</td>
      <td>4.50 4.80 5.30</td>
   </tr>

    <tr>
      <td>HOT TEA</td>
      <td>2.50</td>
   </tr>

   <tr>
      <td>Iced Tea</td>
      <td>2.50</td>

    </table>
    <p>English Breakfast, Moto Chai, Moroccan Mint Green Tea, Decaf Ginger Tumeric, Gunpowder Green tea, Earl Grey</p>


  </section>


  <section class="espresso">
    <h2>Espresso & more</h2>


      <table>
   <tr>
      <td>Espresso</td>
      <td>2.25 2.50 2.85</td>
   </tr>

   <tr>
      <td>Café Americano</td>
      <td>2.50 3.00 3.25</td>
   </tr>

   <tr>
      <td>Cappucinno</td>
      <td>2.25 2.50 2.85</td>
   </tr>

   <tr>
      <td>Classic Latte</td>
      <td>2.25 2.50 2.85</td>
   </tr>

   <tr>
      <td>Coffee Smoothies</td>
      <td>4.50 4.80 5.30</td>
   </tr>

    <tr>
      <td>Flavored Latte</td>
      <td>2.50</td>
   </tr>

   <tr>
      <td>Mocha</td>
      <td>2.50</td>

    </table>

    <h3>FLAVORS:</h3>
      <p>Vanilla**, Honey-vanilla, Hazelnut**, Caramel**, Almond**, Coconut**, Peppermint, Chocolate, White Chocolate, Cinnamon, Pumpkin Spice, Raspberry**, Butterscotch, Peanut butter, Blackberry, Irish Crème, English Toffee, Apple,
      *avaiable in sugar free</p>
  </section>


  <section class="baked">

      <h2>Baked Goods</h2>

 <table>
   <tr>
      <td>Muffin - Blueberry, Bran, Lemon Poppy</td>
      <td>2.95</td>
   </tr>

   <tr>
      <td>Belgium Style Waffle</td>
      <td>3.95</td>
   </tr>

   <tr>
      <td>Cinnamon Scone</td>
      <td>2.95</td>
   </tr>

   <tr>
      <td>Almond Biscotti</td>
      <td>2.95</td>
   </tr>

   <tr>
      <td>Chocolate chip banana bread</td>
      <td>4.25</td>
   </tr>

    <tr>
      <td>Zingerman’s Coffee cake</td>
      <td>4.25</td>
   </tr>

   <tr>
      <td>Gourmet Cookie</td>
      <td>2.45</td>

    </table>


  </section>

  <footer>

    <section class="locations">
    <h1>Locations</h1>
      <h2>KENT</h2>
        <address>6110 Horning Rd., Kent, OH 44240 </address>
          <dl><dt>Phone:</dt> <dd>(330) 672-3031</dd> </dl>

      <h2>COLUMBUS</h2>
        <address>5883 High St. Columbus, OH 43085</address>
          <dl><dt>Phone:</dt> <dd>(330) 854-8583</dd></dl>
    </section>

    <section class="hours">
    <h1>Hours</h1> (same for both locations)
      <ul>
        <li>6:00AM - 10:30PM Monday - Friday</li>
        <li>7:00AM - 3:00PM on Saturday</li>
        <li>7:30AM - 3:00PM on Sunday</li>
      </ul>
    </section>

  </footer>

  </body>



</html>
