body {
  max-width: 1000px;
  padding: 1em;
  font-family: Helvetica, Arial, sans-serif;
}

img {
	width: 30% ;
	Padding: 2em ;
	}

div, section, main, aside, header, footer, nav, {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}